/* Utils */
:root{
	--blue:#0084fd;
	--light-blue:#b5ddff;
	--violet:#9792e4;
	--yellow:#fdc15f;
	--black:rgb(41, 41, 41);
	--white: #fefeff;
}

:root {
	--br: 25px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

#btn {
	display: inline-block;
	background-color: white;
	color: black;
	border: 1px solid transparent;
	border-radius: 22px;
	padding: 9px 15px;
	text-decoration: none;
	font-size: .8rem;
}	
	
.btn-violet{
	background-color: #9792e4;
	border: 1px solid #9792e4;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	font-size: .8rem;
	text-align: center;
}

.btn-blue{
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	text-decoration: none;
	display: inline-block;
	border-radius: 22px;
	padding: 5px 50px;
	font-size: .9rem;
	letter-spacing: .1rem;
	font-weight: 600;
	text-align: center;
	
}

.btn-blue:hover{
background-color: #327ffa;
}

b-rad30 {
	border-radius: 30px;
}


li {
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  display: inline-block;
  color: var(--white);
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header-head {
  background-color: var(--blue);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.mt40 {
  margin-top: 40px;
}

.w50 {
	width: 50%;
}

.container-small{
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}
